*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: linear-gradient(225deg, rgb(34, 36, 35) 29%, rgb(59, 65, 65) 62%, rgb(31, 48, 45) 88%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

 } 
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 10px;
    background: linear-gradient(225deg, rgb(229, 232, 231) 29%, rgb(125, 131, 131) 62%, rgb(155, 155, 155) 88%);
    border-radius: 16px;
    padding: 15px 25px 20px;
    text-shadow: 1px 1px 3px white;
 }
.container>h1{
   font-family: sans-serif;
   font-size: 64px;
   font-weight: bold;
}

.container>h1>img{
   margin: 0px 6px;
}
 .inputs {
   width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 15px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 3.5px;
 }

 .inputs>input {
   border-radius: 16px;
   font-size: 25px;
   padding: 0 7px;
   background: linear-gradient(225deg, rgb(34, 36, 35) 29%, rgb(59, 65, 65) 62%, rgb(31, 48, 45) 88%);
   color: rgb(167, 166, 166);
 }
.button{
   width: 50%;
   font-size: 42px;
   padding: 3px 10px;
   background-color: inherit;
   border:none;
   letter-spacing: 4px;
   font-weight:900;
   text-shadow: 1px 1px 3px rgb(229, 221, 221);
   color:rgb(14, 14, 14);
   
 }
.button:hover{
   text-shadow: 1px 1px 3px white;
   color:rgb(61, 61, 61);
   border: 1px solid rgb(61, 61, 61);
   border-radius: 16px;
   width: 100%;
   padding: 3px 10px;
 }
 .inputs>input:active{
   background-color: rgba(0, 0, 0, 0.747);
   color: rgb(167, 166, 166);
 }